/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/vistas/documentos/afiliados/empresas/
administrador/.idea
administrador/public/vistas/documentos/empleados/cedulas/3054121.jpg
administrador/public/vistas/documentos/empleados/fotos/8483000.jpg
administrador/public/vistas/documentos/empleados/hojas-de-vida/1056822.pdf
administrador/public/vistas/images/noticias/portada/28335.jpg
administrador/public/vistas/images/noticias/portada/45063.jpg
administrador/public/vistas/images/noticias/portada/68213.jpg
administrador/public/vistas/images/noticias/portada/86932.jpg
administrador/public/vistas/images/noticias/portada/87393.jpg
administrador/public/vistas/images/noticias/portada/93927.jpg
images/usuarios/4329.jpg
images/usuarios/8162.jpg
administrador/public/vistas/images/afiliados/fotos/83584.jpg
administrador/public/vistas/images/afiliados/documentos/92331.jpg
